<section class="contanir-nav">
    <div class="nav ">
        <div class="links ">

         
            <ul class="mt-5 pt-5 fs-3 m-auto">

                <li > <a routerLink="home">الصفحه الرئيسيه</a> </li>
                <li ><a routerLink="Reservation"> للحجز والاسعتلام</a></li>

            </ul>
        </div>
        <div class="media text-center text-white ">
            <i class="fab fa-facebook-square px-3"></i>
            <i class="fab fa-twitter-square px-3"></i>
            <i class="fab fa-instagram px-3"></i>
            <p class="px-3">Copyright Â© 2021 All <br> Rights Reserved. </p>
        </div>

    </div>
    <div class="nav-par">
        <div>
            <i class="fas fa-outdent fs-1 open" id="open"></i>

        </div>

    </div>
</section>