    <!--هنا الصفحه الرئيسيه للموقع -->
    <section id="home" >
        <div class="contend position-relative ">
            <div class="leyar w-100 d-flex justify-content-center  align-items-center position-absolute top-0 start-0 end-0 bottom-0">
                <span class="typed-element"></span>

       </div>

       </div>
   </section> 

   <!-- هنا جزء نبذه عن الموقع -->
   <section id="about">
       <div class=" container ">
           <div class="title  text-center ">
<h2 class=" my-5 position-relative">عن العياده</h2>
           </div>
<div class="row">
<div class="col-md-4 offset-md-1 my-5 py-5 ">
    <img src="../../assets/doctor-clinic-illustration_1270-69.jpg " class="w-100 " alt="">
</div>
<div class="col-md-5  my-5 py-5 offset-sm-1">
   <h1>:  ماهي عياده الشفاء </h1>
   <p class=" fs-4 py-3"> هي عياده بها اغلب التخصصات الطبيه التي يحتاج لها المرضي كعلاج.  العظام والمفاصل والاسنان والقلب والنساء والاطفال والانف والاذن والحنجره والتجميل
   </p> 
</div>
</div>
       </div>

   </section>
   
   <!-- هنا موقع العياده ووسائل الاتصال -->
   <section>
       <div class=" container">
        <div class="title  text-center ">
            <h2 class=" my-5 position-relative"> للحجز والاستفسار</h2>
                    </div>
           <div class="row">
               <div class="col-md-6 mb-5 pb-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55277.85341590827!2d31.22134657947146!3d30.012008464744042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145845ea455faf07%3A0x3c5c459a0fb9c936!2z2YXYs9iq2LTZgdmJINin2YTZh9ix2YU!5e0!3m2!1sar!2seg!4v1637074387020!5m2!1sar!2seg" 
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
               </div>
               <div class="col-md-5 offset-1 mb-5 pb-5 ">
                <h2>تواصل معنا</h2>
                <p>العنوان شارع الهرم بجوار المطبعه جيزه </p>
                    <span><i class="fas fa-phone-volume fs-1 mt-4"></i> +0109887609 </span><br>
                    <span><i class="fas fa-headphones-alt fs-1 mt-4"></i>+1987 </span><br>
                    <span><i class="far fa-envelope mt-4 fs-1"></i> clinic.ELshfa@gmail.com </span>

               </div>
           </div>
       </div>

   </section>

 